
/* Rules applied when using Print/PrintToPdf */
@media print {
    @page {
        size: Legal; 
        margin:0;
    }

    img {width: 95%}
    input {font-size:10px;} 
    
    #finePrint {display:none;}
    #navbarTop {display:none;}
    #navbarBottom {display:none;}

    .sectionHeader > h6 {font-size: 11px; margin-top: 5px; margin-bottom:5px;}
    .sectionTitle {font-size: 70%} 
    .smallerUnderline {font-size: 70%} 
    .text-muted { font-size: 65%; }     
}

